# Ignore database volumes
postgres_data/
chroma_data/

# Ignore Python junk
__pycache__/
*.pyc
.venv/
env/

# Ignore Git
.git/
.github/

# Ignore other node/submodule junk
node_modules/

# Ignore local database data
data/
data/postgres_data
data/chroma_data

# Ignore other modules when building transport
# modules/nexus-ai
# modules/nexus-nucleus